## Open the file

In [1]:
import pandas as pd
import datetime as dt
import random

#### Read a random sample of 10,000 rows from the csv file
- taken from: https://stackoverflow.com/questions/22258491/read-a-small-random-sample-from-a-big-csv-file-into-a-python-data-frame

In [2]:
# filename = "rt_leavetimes_DB_2018.txt"

# # to get the number of lines in the file, n:
# # ran this command in the terminal:
# # wc -l rt_leavetimes_DB_2018.txt
# # -1 for the header

# n = 116949114 - 1
# s = 10000 #desired sample size
# skip = sorted(random.sample(range(1,n+1),n-s)) #the 0-indexed header will not be included in the skip list
# df = pd.read_csv(filename, skiprows=skip, sep=";")

### Save this random-sampled dataframe to a csv

In [3]:
# df.to_csv('randomSample_raw.csv', index_label=False)

### For future data analysis, use the saved random-sampled csv

In [4]:
df = pd.read_csv('randomSample_raw.csv')

### Take a look at the dataframe

In [6]:
df

,DATASOURCE,DAYOFSERVICE,TRIPID,PROGRNUMBER,STOPPOINTID,PLANNEDTIME_ARR,PLANNEDTIME_DEP,ACTUALTIME_ARR,ACTUALTIME_DEP,VEHICLEID,PASSENGERS,PASSENGERSIN,PASSENGERSOUT,DISTANCE,SUPPRESSED,JUSTIFICATIONID,LASTUPDATE,NOTE
0,DB,01-JAN-18 00:00:00,5971878,43,1086,39628,39628,39323,39337,2172284,NaN,NaN,NaN,NaN,NaN,NaN,08-JAN-18 17:21:10,NaN
1,DB,01-JAN-18 00:00:00,5967670,84,119,46080,46080,46308,46308,2868338,NaN,NaN,NaN,NaN,NaN,NaN,08-JAN-18 17:21:10,NaN
2,DB,01-JAN-18 00:00:00,5967950,20,987,83858,83858,83646,83646,2172266,NaN,NaN,NaN,NaN,NaN,NaN,08-JAN-18 17:21:10,NaN
3,DB,01-JAN-18 00:00:00,5960839,7,637,77654,77654,77697,77697,2868406,NaN,NaN,NaN,NaN,NaN,NaN,08-JAN-18 17:21:10,NaN
4,DB,01-JAN-18 00:00:00,5960279,28,838,59292,59292,58819,58819,2868344,NaN,NaN,NaN,NaN,NaN,NaN,08-JAN-18 17:21:10,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9995,DB,31-DEC-18 00:00:00,8581007,46,522,44871,44871,45130,45137,3393866,NaN,NaN,NaN,NaN,NaN,NaN,16-JAN-19 18:27:21,NaN
9996,DB,31-DEC-18 00:00:00,8578492,3,3352,25440,25440,25408,25417,1001124,NaN,NaN,NaN,NaN,NaN,NaN,16-JAN-19 18:27:21,NaN
9997,DB,31-DEC-18 00:00:00,8589348,9,4397,58920,58920,59021,59021,2693274,NaN,NaN,NaN,NaN,NaN,NaN,16-JAN-19 18:27:21,NaN
9998,DB,31-DEC-18 00:00:00,8587072,31,2696,37891,37891,38057,38057,1932347,NaN,NaN,NaN,NaN,NaN,NaN,16-JAN-19 18:27:21,NaN
9999,DB,31-DEC-18 00:00:00,8579324,21,1274,79846,79846,80134,80144,2868400,NaN,NaN,NaN,NaN,NaN,NaN,16-JAN-19 18:27:21,NaN

### Observations:
- looks like the times are in seconds, from midnight on the day. Not sure how we conclusively prove this, or if there is more information about this dataset?
- Don't know what SUPPRESSED or JUSTIFICATIONID refers to.

#### All of the data is sourced from the same place, so drop the 'DATASOURCE' column

In [7]:
df.drop(columns='DATASOURCE', inplace=True)

In [8]:
df[pd.notnull(df['PASSENGERS'])]

Empty DataFrame
Columns: [DAYOFSERVICE, TRIPID, PROGRNUMBER, STOPPOINTID, PLANNEDTIME_ARR, PLANNEDTIME_DEP, ACTUALTIME_ARR, ACTUALTIME_DEP, VEHICLEID, PASSENGERS, PASSENGERSIN, PASSENGERSOUT, DISTANCE, SUPPRESSED, JUSTIFICATIONID, LASTUPDATE, NOTE]
Index: []

#### No entries for 'PASSENGERS' so drop the column

In [9]:
df.drop(columns='PASSENGERS', inplace=True)

In [10]:
df[pd.notnull(df['PASSENGERSIN'])]

Empty DataFrame
Columns: [DAYOFSERVICE, TRIPID, PROGRNUMBER, STOPPOINTID, PLANNEDTIME_ARR, PLANNEDTIME_DEP, ACTUALTIME_ARR, ACTUALTIME_DEP, VEHICLEID, PASSENGERSIN, PASSENGERSOUT, DISTANCE, SUPPRESSED, JUSTIFICATIONID, LASTUPDATE, NOTE]
Index: []

#### No entries for 'PASSENGERSIN' so drop the column

In [11]:
df.drop(columns='PASSENGERSIN', inplace=True)

In [12]:
df[pd.notnull(df['PASSENGERSOUT'])]

Empty DataFrame
Columns: [DAYOFSERVICE, TRIPID, PROGRNUMBER, STOPPOINTID, PLANNEDTIME_ARR, PLANNEDTIME_DEP, ACTUALTIME_ARR, ACTUALTIME_DEP, VEHICLEID, PASSENGERSOUT, DISTANCE, SUPPRESSED, JUSTIFICATIONID, LASTUPDATE, NOTE]
Index: []

#### No entries for 'PASSENGERSOUT' so drop the column

In [13]:
df.drop(columns='PASSENGERSOUT', inplace=True)

In [14]:
df[pd.notnull(df['DISTANCE'])]

Empty DataFrame
Columns: [DAYOFSERVICE, TRIPID, PROGRNUMBER, STOPPOINTID, PLANNEDTIME_ARR, PLANNEDTIME_DEP, ACTUALTIME_ARR, ACTUALTIME_DEP, VEHICLEID, DISTANCE, SUPPRESSED, JUSTIFICATIONID, LASTUPDATE, NOTE]
Index: []

#### No entries for 'DISTANCE' so drop the column

In [15]:
df.drop(columns='DISTANCE', inplace=True)

In [16]:
df[pd.notnull(df['SUPPRESSED'])]

,DAYOFSERVICE,TRIPID,PROGRNUMBER,STOPPOINTID,PLANNEDTIME_ARR,PLANNEDTIME_DEP,ACTUALTIME_ARR,ACTUALTIME_DEP,VEHICLEID,SUPPRESSED,JUSTIFICATIONID,LASTUPDATE,NOTE
243,10-JAN-18 00:00:00,6102918,3,397,67638,67638,68284,68284,1001130,1.0,4.849814e+17,18-JAN-18 11:48:12,NaN
304,11-JAN-18 00:00:00,6100096,10,2248,43481,43481,44318,44318,1000912,0.0,4.849814e+17,19-JAN-18 14:43:56,NaN
459,17-JAN-18 00:00:00,6121566,3,4563,57710,57710,57676,57694,2172294,0.0,1.840720e+05,25-JAN-18 18:02:03,NaN
606,22-JAN-18 00:00:00,6225123,64,4,62123,62123,61274,61274,2534807,1.0,4.849814e+17,30-JAN-18 13:53:42,NaN
663,24-JAN-18 00:00:00,6223413,10,3696,63204,63204,62694,62694,1000199,0.0,1.858280e+05,31-JAN-18 21:17:42,NaN
681,24-JAN-18 00:00:00,6218682,19,1609,58117,58117,57869,57869,2868346,0.0,4.849814e+17,31-JAN-18 21:17:42,NaN
762,27-JAN-18 00:00:00,6212592,31,1360,49125,49125,49212,49212,1001212,1.0,4.849814e+17,06-FEB-18 09:56:04,NaN
1002,18-FEB-18 00:00:00,6270692,1,2039,64800,64800,64484,64484,2406890,1.0,4.849814e+17,26-FEB-18 11:09:33,NaN
1030,17-FEB-18 00:00:00,6257321,14,2685,64866,64866,64838,64838,2172256,1.0,4.849814e+17,26-FEB-18 12:04:30,NaN
1042,16-FEB-18 00:00:00,6260652,1,7574,61800,61800,61827,61827,1000907,0.0,1.940790e+05,26-FEB-18 12:19:30,NaN
1258,10-FEB-18 00:00:00,6253786,21,665,31631,31631,31548,31563,2868401,0.0,1.911990e+05,28-FEB-18 12:44:42,NaN
1445,21-FEB-18 00:00:00,6271857,23,1850,33474,33474,33904,33939,1000611,1.0,4.849814e+17,05-MAR-18 21:48:40,NaN
1558,27-FEB-18 00:00:00,6285905,13,2251,25769,25769,25682,25695,2868373,1.0,4.849814e+17,08-MAR-18 10:16:09,NaN
1792,05-MAR-18 00:00:00,6369465,57,4130,34444,34444,34522,34522,2172238,1.0,4.849814e+17,16-MAR-18 08:14:19,NaN
2050,16-MAR-18 00:00:00,6396639,25,614,51190,51190,51325,51338,3088377,0.0,4.849814e+17,26-MAR-18 12:55:43,NaN
2114,19-MAR-18 00:00:00,6396350,17,1196,63891,63891,63403,63403,1932314,1.0,4.849814e+17,27-MAR-18 12:56:15,NaN
2249,25-MAR-18 00:00:00,6404561,40,1017,58446,58446,58211,58211,2406926,0.0,2.069310e+05,04-APR-18 09:41:36,NaN
2758,11-APR-18 00:00:00,6623370,3,1555,46442,46442,46924,46924,3088377,0.0,4.849814e+17,20-APR-18 14:41:36,NaN
2776,12-APR-18 00:00:00,6624724,67,313,45334,45334,45575,45575,2534817,0.0,2.128980e+05,20-APR-18 15:01:26,NaN
3110,20-APR-18 00:00:00,6643199,29,1906,83695,83695,83797,83797,1000903,0.0,4.849814e+17,25-JUN-18 09:00:42,NaN
3203,26-APR-18 00:00:00,6639258,19,2264,40590,40590,40911,40911,2693261,1.0,4.849814e+17,25-JUN-18 09:47:43,NaN
3716,31-MAY-18 00:00:00,6842978,39,2064,47285,47285,47636,47654,2693226,0.0,4.849814e+17,14-JUN-18 14:04:06,NaN
3939,10-MAY-18 00:00:00,6734911,2,4526,81960,81960,81933,81933,1001219,0.0,4.849814e+17,26-JUN-18 08:24:53,NaN
4062,17-MAY-18 00:00:00,6752089,19,7635,59781,59781,60176,60219,1001080,0.0,4.849814e+17,26-JUN-18 09:42:42,NaN
4322,08-JUN-18 00:00:00,6856156,52,5015,53980,53980,54577,54590,1001129,0.0,4.849814e+17,18-JUN-18 08:35:15,NaN
4560,16-JUN-18 00:00:00,6876682,2,808,64274,64274,64370,64391,2534809,1.0,4.849814e+17,27-JUN-18 10:26:03,NaN
4638,20-JUN-18 00:00:00,7022489,36,2736,55397,55397,55440,55455,1001132,0.0,4.849814e+17,28-JUN-18 14:31:32,NaN
4673,21-JUN-18 00:00:00,7014891,33,1168,64805,64805,66417,66417,1001128,0.0,4.849814e+17,29-JUN-18 15:43:00,NaN
4990,01-JUL-18 00:00:00,7142474,27,1350,68768,68768,68589,69423,2172312,0.0,2.425260e+05,14-JUL-18 06:32:39,NaN
5087,04-JUL-18 00:00:00,7150312,61,2383,55271,55271,56045,56057,1001148,0.0,4.849814e+17,14-JUL-18 07:11:09,NaN
5199,09-JUL-18 00:00:00,7156889,24,1282,79783,79783,79887,79914,2868315,0.0,4.849814e+17,17-JUL-18 15:53:46,NaN
5390,16-JUL-18 00:00:00,7178702,25,3309,75928,75928,75963,75963,2693223,0.0,4.849814e+17,24-JUL-18 14:51:47,NaN
5477,19-JUL-18 00:00:00,7171871,26,1941,45933,45933,46712,46725,2693257,0.0,4.849814e+17,28-JUL-18 10:09:47,NaN
5643,25-JUL-18 00:00:00,7176572,49,1661,85375,85375,85685,85699,1000906,0.0,4.849814e+17,16-AUG-18 23:13:19,NaN
5829,10-JUL-18 00:00:00,7156250,31,1170,41152,41152,41401,41434,1000171,0.0,4.849814e+17,18-JUL-18 15:19:46,NaN
5922,03-AUG-18 00:00:00,7325413,51,2094,47711,47711,48015,48029,2534814,0.0,4.849814e+17,18-AUG-18 18:21:22,NaN
6327,20-AUG-18 00:00:00,7327993,4,7507,60114,60114,60159,60159,1001125,0.0,4.849814e+17,30-AUG-18 09:14:53,NaN
6642,03-AUG-18 00:00:00,7332376,33,2233,84270,84270,84250,84250,2868319,0.0,4.849814e+17,18-AUG-18 18:21:22,NaN
6691,26-AUG-18 00:00:00,7506945,70,763,44712,44712,45910,45910,2868318,0.0,2.591480e+05,03-SEP-18 08:41:32,NaN
6724,01-SEP-18 00:00:00,7512602,61,332,84582,84582,84325,84325,3265705,0.0,4.849814e+17,09-SEP-18 10:07:33,NaN
6887,07-SEP-18 00:00:00,7657510,12,779,59319,59319,59584,59595,2693215,0.0,4.849814e+17,09-OCT-18 13:19:04,NaN
6934,26-SEP-18 00:00:00,7761103,55,2095,34316,34316,34659,34672,2172251,0.0,4.849814e+17,18-OCT-18 18:01:47,NaN
7107,30-SEP-18 00:00:00,7780536,43,253,49445,49445,49519,49533,1000186,0.0,2.713880e+05,18-OCT-18 18:57:07,NaN
7237,10-SEP-18 00:00:00,8084763,6,4156,40678,40678,40556,40556,1932337,0.0,4.849814e+17,02-NOV-18 10:47:06,NaN
7325,13-SEP-18 00:00:00,8086024,34,1095,62975,62975,64259,64269,1000160,0.0,4.849814e+17,02-NOV-18 11:23:36,NaN
7327,13-SEP-18 00:00:00,8091214,9,3090,80583,80583,80675,80675,3265704,0.0,4.849814e+17,02-NOV-18 11:23:36,NaN
7673,04-OCT-18 00:00:00,7781834,37,1703,61493,61493,61974,62002,1000952,1.0,4.849814e+17,22-OCT-18 22:22:21,NaN
7842,10-OCT-18 00:00:00,8027302,15,2649,58470,58470,58187,58187,1000318,0.0,4.849814e+17,23-OCT-18 06:57:21,NaN
7897,16-OCT-18 00:00:00,8022758,41,7577,69671,69671,70059,70081,2868334,1.0,4.849814e+17,26-OCT-18 15:03:16,NaN
7989,19-OCT-18 00:00:00,8014632,35,3365,82676,82676,83387,83387,2693231,0.0,4.849814e+17,30-OCT-18 17:32:16,NaN
8205,31-OCT-18 00:00:00,8066016,39,665,55411,55411,55682,55727,1000736,0.0,4.849814e+17,08-NOV-18 07:52:12,NaN
8529,04-NOV-18 00:00:00,8101210,50,7370,54142,54142,54552,54552,2868368,1.0,4.849814e+17,13-NOV-18 16:46:07,NaN
8531,05-NOV-18 00:00:00,8100172,41,277,31080,31080,31950,31978,1000309,0.0,2.823230e+05,13-NOV-18 16:52:57,NaN
8622,07-NOV-18 00:00:00,8110012,38,7455,60120,60120,60084,60094,1000915,0.0,4.849814e+17,15-NOV-18 09:36:16,NaN
8774,15-NOV-18 00:00:00,8129100,7,1425,65183,65183,64672,64672,2693254,1.0,4.849814e+17,26-NOV-18 14:49:17,NaN
9337,03-DEC-18 00:00:00,8157602,28,2214,35330,35330,36281,36281,2534815,1.0,4.849814e+17,14-DEC-18 12:46:54,NaN
9490,11-DEC-18 00:00:00,8166695,19,4672,85278,85278,85295,85295,3265686,0.0,4.849814e+17,19-DEC-18 09:35:43,NaN
9697,20-DEC-18 00:00:00,8458800,60,2212,38471,38471,37932,37932,1001190,1.0,4.849814e+17,28-DEC-18 17:30:19,NaN
9941,28-DEC-18 00:00:00,8587286,67,4175,63814,63814,64114,64127,3265667,0.0,4.849814e+17,16-JAN-19 17:31:52,NaN

In [17]:
df[pd.notnull(df['JUSTIFICATIONID'])]

,DAYOFSERVICE,TRIPID,PROGRNUMBER,STOPPOINTID,PLANNEDTIME_ARR,PLANNEDTIME_DEP,ACTUALTIME_ARR,ACTUALTIME_DEP,VEHICLEID,SUPPRESSED,JUSTIFICATIONID,LASTUPDATE,NOTE
243,10-JAN-18 00:00:00,6102918,3,397,67638,67638,68284,68284,1001130,1.0,4.849814e+17,18-JAN-18 11:48:12,NaN
304,11-JAN-18 00:00:00,6100096,10,2248,43481,43481,44318,44318,1000912,0.0,4.849814e+17,19-JAN-18 14:43:56,NaN
459,17-JAN-18 00:00:00,6121566,3,4563,57710,57710,57676,57694,2172294,0.0,1.840720e+05,25-JAN-18 18:02:03,NaN
606,22-JAN-18 00:00:00,6225123,64,4,62123,62123,61274,61274,2534807,1.0,4.849814e+17,30-JAN-18 13:53:42,NaN
663,24-JAN-18 00:00:00,6223413,10,3696,63204,63204,62694,62694,1000199,0.0,1.858280e+05,31-JAN-18 21:17:42,NaN
681,24-JAN-18 00:00:00,6218682,19,1609,58117,58117,57869,57869,2868346,0.0,4.849814e+17,31-JAN-18 21:17:42,NaN
762,27-JAN-18 00:00:00,6212592,31,1360,49125,49125,49212,49212,1001212,1.0,4.849814e+17,06-FEB-18 09:56:04,NaN
1002,18-FEB-18 00:00:00,6270692,1,2039,64800,64800,64484,64484,2406890,1.0,4.849814e+17,26-FEB-18 11:09:33,NaN
1030,17-FEB-18 00:00:00,6257321,14,2685,64866,64866,64838,64838,2172256,1.0,4.849814e+17,26-FEB-18 12:04:30,NaN
1042,16-FEB-18 00:00:00,6260652,1,7574,61800,61800,61827,61827,1000907,0.0,1.940790e+05,26-FEB-18 12:19:30,NaN
1258,10-FEB-18 00:00:00,6253786,21,665,31631,31631,31548,31563,2868401,0.0,1.911990e+05,28-FEB-18 12:44:42,NaN
1445,21-FEB-18 00:00:00,6271857,23,1850,33474,33474,33904,33939,1000611,1.0,4.849814e+17,05-MAR-18 21:48:40,NaN
1558,27-FEB-18 00:00:00,6285905,13,2251,25769,25769,25682,25695,2868373,1.0,4.849814e+17,08-MAR-18 10:16:09,NaN
1792,05-MAR-18 00:00:00,6369465,57,4130,34444,34444,34522,34522,2172238,1.0,4.849814e+17,16-MAR-18 08:14:19,NaN
2050,16-MAR-18 00:00:00,6396639,25,614,51190,51190,51325,51338,3088377,0.0,4.849814e+17,26-MAR-18 12:55:43,NaN
2114,19-MAR-18 00:00:00,6396350,17,1196,63891,63891,63403,63403,1932314,1.0,4.849814e+17,27-MAR-18 12:56:15,NaN
2249,25-MAR-18 00:00:00,6404561,40,1017,58446,58446,58211,58211,2406926,0.0,2.069310e+05,04-APR-18 09:41:36,NaN
2758,11-APR-18 00:00:00,6623370,3,1555,46442,46442,46924,46924,3088377,0.0,4.849814e+17,20-APR-18 14:41:36,NaN
2776,12-APR-18 00:00:00,6624724,67,313,45334,45334,45575,45575,2534817,0.0,2.128980e+05,20-APR-18 15:01:26,NaN
3110,20-APR-18 00:00:00,6643199,29,1906,83695,83695,83797,83797,1000903,0.0,4.849814e+17,25-JUN-18 09:00:42,NaN
3203,26-APR-18 00:00:00,6639258,19,2264,40590,40590,40911,40911,2693261,1.0,4.849814e+17,25-JUN-18 09:47:43,NaN
3716,31-MAY-18 00:00:00,6842978,39,2064,47285,47285,47636,47654,2693226,0.0,4.849814e+17,14-JUN-18 14:04:06,NaN
3939,10-MAY-18 00:00:00,6734911,2,4526,81960,81960,81933,81933,1001219,0.0,4.849814e+17,26-JUN-18 08:24:53,NaN
4062,17-MAY-18 00:00:00,6752089,19,7635,59781,59781,60176,60219,1001080,0.0,4.849814e+17,26-JUN-18 09:42:42,NaN
4322,08-JUN-18 00:00:00,6856156,52,5015,53980,53980,54577,54590,1001129,0.0,4.849814e+17,18-JUN-18 08:35:15,NaN
4560,16-JUN-18 00:00:00,6876682,2,808,64274,64274,64370,64391,2534809,1.0,4.849814e+17,27-JUN-18 10:26:03,NaN
4638,20-JUN-18 00:00:00,7022489,36,2736,55397,55397,55440,55455,1001132,0.0,4.849814e+17,28-JUN-18 14:31:32,NaN
4673,21-JUN-18 00:00:00,7014891,33,1168,64805,64805,66417,66417,1001128,0.0,4.849814e+17,29-JUN-18 15:43:00,NaN
4990,01-JUL-18 00:00:00,7142474,27,1350,68768,68768,68589,69423,2172312,0.0,2.425260e+05,14-JUL-18 06:32:39,NaN
5087,04-JUL-18 00:00:00,7150312,61,2383,55271,55271,56045,56057,1001148,0.0,4.849814e+17,14-JUL-18 07:11:09,NaN
5199,09-JUL-18 00:00:00,7156889,24,1282,79783,79783,79887,79914,2868315,0.0,4.849814e+17,17-JUL-18 15:53:46,NaN
5390,16-JUL-18 00:00:00,7178702,25,3309,75928,75928,75963,75963,2693223,0.0,4.849814e+17,24-JUL-18 14:51:47,NaN
5477,19-JUL-18 00:00:00,7171871,26,1941,45933,45933,46712,46725,2693257,0.0,4.849814e+17,28-JUL-18 10:09:47,NaN
5643,25-JUL-18 00:00:00,7176572,49,1661,85375,85375,85685,85699,1000906,0.0,4.849814e+17,16-AUG-18 23:13:19,NaN
5829,10-JUL-18 00:00:00,7156250,31,1170,41152,41152,41401,41434,1000171,0.0,4.849814e+17,18-JUL-18 15:19:46,NaN
5922,03-AUG-18 00:00:00,7325413,51,2094,47711,47711,48015,48029,2534814,0.0,4.849814e+17,18-AUG-18 18:21:22,NaN
6327,20-AUG-18 00:00:00,7327993,4,7507,60114,60114,60159,60159,1001125,0.0,4.849814e+17,30-AUG-18 09:14:53,NaN
6642,03-AUG-18 00:00:00,7332376,33,2233,84270,84270,84250,84250,2868319,0.0,4.849814e+17,18-AUG-18 18:21:22,NaN
6691,26-AUG-18 00:00:00,7506945,70,763,44712,44712,45910,45910,2868318,0.0,2.591480e+05,03-SEP-18 08:41:32,NaN
6724,01-SEP-18 00:00:00,7512602,61,332,84582,84582,84325,84325,3265705,0.0,4.849814e+17,09-SEP-18 10:07:33,NaN
6887,07-SEP-18 00:00:00,7657510,12,779,59319,59319,59584,59595,2693215,0.0,4.849814e+17,09-OCT-18 13:19:04,NaN
6934,26-SEP-18 00:00:00,7761103,55,2095,34316,34316,34659,34672,2172251,0.0,4.849814e+17,18-OCT-18 18:01:47,NaN
7107,30-SEP-18 00:00:00,7780536,43,253,49445,49445,49519,49533,1000186,0.0,2.713880e+05,18-OCT-18 18:57:07,NaN
7237,10-SEP-18 00:00:00,8084763,6,4156,40678,40678,40556,40556,1932337,0.0,4.849814e+17,02-NOV-18 10:47:06,NaN
7325,13-SEP-18 00:00:00,8086024,34,1095,62975,62975,64259,64269,1000160,0.0,4.849814e+17,02-NOV-18 11:23:36,NaN
7327,13-SEP-18 00:00:00,8091214,9,3090,80583,80583,80675,80675,3265704,0.0,4.849814e+17,02-NOV-18 11:23:36,NaN
7673,04-OCT-18 00:00:00,7781834,37,1703,61493,61493,61974,62002,1000952,1.0,4.849814e+17,22-OCT-18 22:22:21,NaN
7842,10-OCT-18 00:00:00,8027302,15,2649,58470,58470,58187,58187,1000318,0.0,4.849814e+17,23-OCT-18 06:57:21,NaN
7897,16-OCT-18 00:00:00,8022758,41,7577,69671,69671,70059,70081,2868334,1.0,4.849814e+17,26-OCT-18 15:03:16,NaN
7989,19-OCT-18 00:00:00,8014632,35,3365,82676,82676,83387,83387,2693231,0.0,4.849814e+17,30-OCT-18 17:32:16,NaN
8205,31-OCT-18 00:00:00,8066016,39,665,55411,55411,55682,55727,1000736,0.0,4.849814e+17,08-NOV-18 07:52:12,NaN
8529,04-NOV-18 00:00:00,8101210,50,7370,54142,54142,54552,54552,2868368,1.0,4.849814e+17,13-NOV-18 16:46:07,NaN
8531,05-NOV-18 00:00:00,8100172,41,277,31080,31080,31950,31978,1000309,0.0,2.823230e+05,13-NOV-18 16:52:57,NaN
8622,07-NOV-18 00:00:00,8110012,38,7455,60120,60120,60084,60094,1000915,0.0,4.849814e+17,15-NOV-18 09:36:16,NaN
8774,15-NOV-18 00:00:00,8129100,7,1425,65183,65183,64672,64672,2693254,1.0,4.849814e+17,26-NOV-18 14:49:17,NaN
9337,03-DEC-18 00:00:00,8157602,28,2214,35330,35330,36281,36281,2534815,1.0,4.849814e+17,14-DEC-18 12:46:54,NaN
9490,11-DEC-18 00:00:00,8166695,19,4672,85278,85278,85295,85295,3265686,0.0,4.849814e+17,19-DEC-18 09:35:43,NaN
9697,20-DEC-18 00:00:00,8458800,60,2212,38471,38471,37932,37932,1001190,1.0,4.849814e+17,28-DEC-18 17:30:19,NaN
9941,28-DEC-18 00:00:00,8587286,67,4175,63814,63814,64114,64127,3265667,0.0,4.849814e+17,16-JAN-19 17:31:52,NaN

In [18]:
df[pd.notnull(df['NOTE'])]

Empty DataFrame
Columns: [DAYOFSERVICE, TRIPID, PROGRNUMBER, STOPPOINTID, PLANNEDTIME_ARR, PLANNEDTIME_DEP, ACTUALTIME_ARR, ACTUALTIME_DEP, VEHICLEID, SUPPRESSED, JUSTIFICATIONID, LASTUPDATE, NOTE]
Index: []

#### No entries for 'NOTE' so drop the column

In [19]:
df.drop(columns='NOTE', inplace=True)

### Check the data types for each column in the dataframe

In [20]:
df.dtypes

DAYOFSERVICE        object
TRIPID               int64
PROGRNUMBER          int64
STOPPOINTID          int64
PLANNEDTIME_ARR      int64
PLANNEDTIME_DEP      int64
ACTUALTIME_ARR       int64
ACTUALTIME_DEP       int64
VEHICLEID            int64
SUPPRESSED         float64
JUSTIFICATIONID    float64
LASTUPDATE          object
dtype: object

### Fixes:
- DAYOFSERVICE should be a datetime value
- LASTUPDATE should be a datetime value

In [21]:
df['DAYOFSERVICE'] = pd.to_datetime(df['DAYOFSERVICE'])
df['LASTUPDATE'] = pd.to_datetime(df['LASTUPDATE'])

### Other changes:
- Need to convert times in seconds to time stamps
- https://www.kite.com/python/answers/how-to-convert-seconds-to-hours,-minutes,-and-seconds-in-python
- convert seconds to hours, minutes, seconds
- converting PLANNEDTIME_ARR, PLANNEDTIME_DEP, ACTUALTIME_ARR, ACTUALTIME_DEP

In [22]:
df['PLANNEDTIME_ARR'] = pd.to_timedelta(df['PLANNEDTIME_ARR'], unit='s')
df['PLANNEDTIME_DEP'] = pd.to_timedelta(df['PLANNEDTIME_DEP'], unit='s')
df['ACTUALTIME_ARR'] = pd.to_timedelta(df['ACTUALTIME_ARR'], unit='s')
df['ACTUALTIME_DEP'] = pd.to_timedelta(df['ACTUALTIME_DEP'], unit='s')

### Convert each of these to datetime next
- We do this by taking the date of the bus journey and add it to the date of the DAYOFSERVICE column

In [23]:
df.loc[0]['DAYOFSERVICE'] + df.loc[0]['PLANNEDTIME_ARR']

Timestamp('2018-01-01 11:00:28')

### Make a new column for each of PLANNEDTIME_ARR, PLANNEDTIME_DEP, ACTUALTIME_ARR, ACTUALTIME_DEP

In [24]:
# make a series for each new column

plannedArrival = []
plannedDeparture = []
actualArrival = []
actualDeparture = []
for i in range(df.shape[0]):
    plannedArrival.append(df.loc[i]['DAYOFSERVICE'] + df.loc[i]['PLANNEDTIME_ARR'])
    plannedDeparture.append(df.loc[i]['DAYOFSERVICE'] + df.loc[i]['PLANNEDTIME_DEP'])
    actualArrival.append(df.loc[i]['DAYOFSERVICE'] + df.loc[i]['ACTUALTIME_ARR'])
    actualDeparture.append(df.loc[i]['DAYOFSERVICE'] + df.loc[i]['ACTUALTIME_DEP'])

plannedArrival = pd.Series(plannedArrival)
plannedDeparture = pd.Series(plannedDeparture)
actualArrival = pd.Series(actualArrival)
actualDeparture = pd.Series(actualDeparture)

### Add each new series to the dataframe

In [25]:
df['plannedArrival'] = plannedArrival
df['plannedDeparture'] = plannedDeparture
df['actualArrival'] = actualArrival
df['actualDeparture'] = actualDeparture

### Drop the old columns

In [26]:
df.drop(columns='PLANNEDTIME_ARR', inplace=True)
df.drop(columns='PLANNEDTIME_DEP', inplace=True)
df.drop(columns='ACTUALTIME_ARR', inplace=True)
df.drop(columns='ACTUALTIME_DEP', inplace=True)

In [27]:
df

,DAYOFSERVICE,TRIPID,PROGRNUMBER,STOPPOINTID,VEHICLEID,SUPPRESSED,JUSTIFICATIONID,LASTUPDATE,plannedArrival,plannedDeparture,actualArrival,actualDeparture
0,2018-01-01,5971878,43,1086,2172284,NaN,NaN,2018-01-08 17:21:10,2018-01-01 11:00:28,2018-01-01 11:00:28,2018-01-01 10:55:23,2018-01-01 10:55:37
1,2018-01-01,5967670,84,119,2868338,NaN,NaN,2018-01-08 17:21:10,2018-01-01 12:48:00,2018-01-01 12:48:00,2018-01-01 12:51:48,2018-01-01 12:51:48
2,2018-01-01,5967950,20,987,2172266,NaN,NaN,2018-01-08 17:21:10,2018-01-01 23:17:38,2018-01-01 23:17:38,2018-01-01 23:14:06,2018-01-01 23:14:06
3,2018-01-01,5960839,7,637,2868406,NaN,NaN,2018-01-08 17:21:10,2018-01-01 21:34:14,2018-01-01 21:34:14,2018-01-01 21:34:57,2018-01-01 21:34:57
4,2018-01-01,5960279,28,838,2868344,NaN,NaN,2018-01-08 17:21:10,2018-01-01 16:28:12,2018-01-01 16:28:12,2018-01-01 16:20:19,2018-01-01 16:20:19
...,...,...,...,...,...,...,...,...,...,...,...,...
9995,2018-12-31,8581007,46,522,3393866,NaN,NaN,2019-01-16 18:27:21,2018-12-31 12:27:51,2018-12-31 12:27:51,2018-12-31 12:32:10,2018-12-31 12:32:17
9996,2018-12-31,8578492,3,3352,1001124,NaN,NaN,2019-01-16 18:27:21,2018-12-31 07:04:00,2018-12-31 07:04:00,2018-12-31 07:03:28,2018-12-31 07:03:37
9997,2018-12-31,8589348,9,4397,2693274,NaN,NaN,2019-01-16 18:27:21,2018-12-31 16:22:00,2018-12-31 16:22:00,2018-12-31 16:23:41,2018-12-31 16:23:41
9998,2018-12-31,8587072,31,2696,1932347,NaN,NaN,2019-01-16 18:27:21,2018-12-31 10:31:31,2018-12-31 10:31:31,2018-12-31 10:34:17,2018-12-31 10:34:17
9999,2018-12-31,8579324,21,1274,2868400,NaN,NaN,2019-01-16 18:27:21,2018-12-31 22:10:46,2018-12-31 22:10:46,2018-12-31 22:15:34,2018-12-31 22:15:44